* {
    margin: 32px;
    font-family: 'Comfortaa', cursive;
}

button {
    border: none;
    text-decoration: none;
    background: none;
    color: #f0f0f0;
    cursor: pointer;
}

button:focus { 
    outline: none; 
}

body {
    background-color: #292929;
}

.content {
    text-align: center;
}

.header {
    color: white;
}

.slider {
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;
}
